<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735071215022-v47cse8uhjltd824vp9ot44m52gekeep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735071215022-v47cse8uhjltd824vp9ot44m52gekeep</string>
	<key>API_KEY</key>
	<string>AIzaSyAyUYcRzZwrtqFAFXR2bWjUljDE6v0622c</string>
	<key>GCM_SENDER_ID</key>
	<string>735071215022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bishub.bishubApp</string>
	<key>PROJECT_ID</key>
	<string>bishub-f6089</string>
	<key>STORAGE_BUCKET</key>
	<string>bishub-f6089.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735071215022:ios:c9ab1cc25fe32353507c3f</string>
</dict>
</plist>